*{
    box-sizing: border-box;
}

main{
    height: 500px;
    width: 400px;
    background-color: aquamarine;
}

.container{
    height: inherit;
}
.square-wrap{
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
li{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}