*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway';
    margin:0;
}
header{
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
body{
    background: #1D1F20;
}

main{
    /* background-image: url(); */
    height: 600px;
    width: 500px; 
    background-color: rgba(116, 116, 116, 0.116);
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
li{
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */

    /* text-align: center; */
    /* margin: 10%; */
    color: white;
    /* font-size: 3rem; */
    /* border: 1px solid white; */
    /* border-radius: 5% 5% 5% 5%; */
}
button{
    color: white;
    background-color: #1D1F20;
    border: 1px solid #fff;
}

.option-wrap{
    width: fit-content;
    height: fit-content;
    /* background-color: blue; */
    margin-left: 70px;
    /* visibility: hidden; */
    transition: all 500ms;
    transform: scale(0);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.p1-name-change, .p2-name-change{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 250px; */
    /* height: 100px; */
    background-color: grey;
    color: ivory;
    /* margin-left: 70px; */
    /* visibility: hidden; */
    /* transform-origin: top; */

}
.square-wrap{
    height: 600px;
    width: 500px;
    display: grid;
    padding: inherit;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 1px;
}
.gradient-border{
    --borderWidth: 2px;
    background: #1D1F20;
    position: relative;
    border-radius: 5%;
    }
.gradient-border:after{
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

.start-again{
    color: white;
    margin: 5% 0;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.glow {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-animation: glow 4s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 4s ease-in-out infinite alternate;
}
.refresh-glow{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.option-glow{
    
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.grid-top-left{
    /* border: 1px solid white; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    border-right: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 5% 0;
}
.grid-top-middle{
    /* border: 1px solid white; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    border-right: 1px solid rgba(255, 255, 255, 0.37) ;
    border-left: 1px solid rgba(255, 255, 255, 0.37) ;

    border-radius: 0  0 5% 5%;
}
.grid-top-right{
    /* border: 1px solid white; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    border-left: 1px solid rgba(255, 255, 255, 0.37) ;
    border-radius: 0 5%;
}
.grid-middle-left{
    border-top: 1px solid rgba(255, 255, 255, 0.37);
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    border-right: 1px solid rgba(255, 255, 255, 0.37) ;
    border-radius: 0 5% 5% 0;
}
.grid-middle{
    border:  1px solid rgba(255, 255, 255, 0.37);
    border-radius: 5%;
}
.grid-middle-right{
    border-top: 1px solid rgba(255, 255, 255, 0.37);
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    border-left: 1px solid rgba(255, 255, 255, 0.37) ;
    border-radius: 5% 0 0 5%;
}
.grid-bottom-left{
    border-top: 1px solid rgba(255, 255, 255, 0.37);
    border-right: 1px solid rgba(255, 255, 255, 0.37) ;
    border-radius: 0 5% 0 0;
}
.grid-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.37);
    border-right: 1px solid rgba(255, 255, 255, 0.37) ;
    border-left: 1px solid rgba(255, 255, 255, 0.37) ;

    border-radius: 5% 5% 0 0;
}
.grid-bottom-right{
    border-top: 1px solid rgba(255, 255, 255, 0.37);
    /* border-right: 1px solid rgba(255, 255, 255, 0.37) ; */
    border-left: 1px solid rgba(255, 255, 255, 0.37) ;

    border-radius: 5% 0 0 0;

}
