*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway';
    margin:0;
}

body{
    background-color:grey;
}

main{
    /* background-image: url(); */
    /* height: 600px; */
    /* width: 500px; */
    background-color: rgb(116, 116, 116);
    margin: 15% auto;
}
li{
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: content;

    /* text-align: center; */
    /* margin: 10%; */
    color: white;
    /* font-size: 3rem; */
    border: 1px solid white;
}

.container{
    height: 600px;
    width: 500px;
}
.square-wrap{
    height: 600px;
    width: 500px;
    display: grid;
    padding: inherit;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}
/* .gradient-border {
    --borderWidth: 5px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
    }
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
} */